<ion-header>
  <ion-toolbar color="light">
    <ion-title class="text-2xl font-bold">Ngomong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <!--<ion-button-->
  <!--  color="success"-->
  <!--  class="absolute right-0 bottom-16"-->
  <!--  (click)="newChat()"-->
  <!-->-->
  <!--  <ion-icon slot="icon-only" name="chatbubble-ellipses"></ion-icon>-->
  <!--</ion-button>-->
  <ion-button color="success" class="absolute right-0 bottom-16" (click)="newChat()">
    <ion-icon slot="icon-only" name="chatbubble-ellipses"></ion-icon>
  </ion-button>
</ion-content>
