<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button icon="caret-back" defaultHref="/chats"></ion-back-button>-->
      <ion-button class="min-w-12 min-h-12!" size="large" (click)="goBack()"><ion-icon name="caret-back" /></ion-button>
    </ion-buttons>
    <ion-title class="font-thin">Select contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-item button type="button" (click)="newContact()" color="light">
    <ion-icon slot="start" name="person-add"></ion-icon>
    <ion-label>New contact</ion-label>
  </ion-item>

  <ion-item button color="light" class="text-xs opacity-50 h-6" style="--min-height: 1.5rem">
    <ion-label class="m-0">Contact on Ngomong</ion-label>
  </ion-item>
</ion-content>
